* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: normal;

    color: #f0ff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121639;
}

.container {
    width: 100%;
    display: flex;
    max-width: 850px;
    background:#121639;
    ;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
    width: 450px;
}

form {
    width: 300px;
    margin: 60px auto;
}

h2 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    border-top: 2px solid #121639;
}

p {
    text-align: center;
    margin: 10px;
}

.right img {
    position: absolute ;
    width: 430px;
    height: 500px;
    left: 752px;
    top: 100px;

    /* background-image: url("background.png"); */
    /*
     width: 851px;
    height: 645.53px;
    border-top-right-radius: 15px;
    /* border-bottom-right-radius: 15px;  */
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {

    border: 1px solid white;
    outline: none;
    padding: 8px;
    width: 295px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    background: #121639;
}

button:hover {
    background: #121639;
}


@media (max-width: 880px) {
    .container {
        width: 100%;
        max-width: 750px;
        margin-left: 20px;
        margin-right: 20px;
    }

    form {
        width: 300px;
        margin: 20px auto;
    }

    .login {
        width: 400px;
        padding: 20px;
    }

    button {
        width: 100%;
    }

    .right img {
        width: 100%;
        height: 100%;
    }
}
